    <section class="hero">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6><em class="text-lg ml-6">Need Medicines?</em></h6>
                <h1 class="text-6xl font-bold ml-6">Don't Wait !!</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold btn-primary ml-6 mt-4">Order Now</button>
            </div>
            <div class="w-1/2 mb-6 mt-6">
                <img src="/img/banner3.jpg" style="border-radius: 50%;height:420px; margin-left: 200px;">
            </div>
        </div>
    </section>

    <section class="menu container mx-auto py-8 products">
    <h1 class="text-xl font-bold mb-8 ml-6">Avaiable Products</h1>
    <div class="grid grid-cols-4 gap-y-6 gap-x-6 mb-6">
        <% medicines.forEach(function(medicine) { %>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/<%=medicine.image%>">
                <div class="text-center">
                    <h2 class="mb-4 text-lg "><%=medicine.name%></h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs"><%=medicine.noofcapsule %> capsules</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹ <%=medicine.price %></span>
                        <button data-medicine="<%= JSON.stringify(medicine)%>"  class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
       <% }) %>
       
   
    </div>
</section>
